<% provide(:title, '社員一覧') %>
<h1>社員一覧</h1>
<div>
  <%= form_tag csv_import_path, method: :post, multipart: true do |f| %>
    <div class="search_item">
      <%= file_field_tag 'csv_file', id: "file_input", style: "width: 250px;", class: %i(csv_input_btn), onchange: "file_selected($(this));" %>
    </div>
    <div>
      <button type="submit" class="btn btn-primary">CSVをインポート</button>
    </div>
  <% end %>
</div>

<%= paginate @users %>

<ul class="users">
  <%= render @users %>
</ul>

<%= paginate @users %>