<div class="row">

<!-- ヘッドのテーブル部分 -->    
  <table class="table table-bordered table-striped table-condensed users_show-table">
    <thead>
      <tr>
        <th>
            <!--先月へ-->
        <%= link_to "◀︎" , user_path(params:{id: @user.id, first_day: @first_day.prev_month }), class: "btn btn-sm btn-primary" %>
        &emsp; <%= @first_day.year %>年<%= @first_day.month %>月  時間管理表 &emsp;
        <%= link_to "▶︎" , user_path(params:{id: @user.id, first_day: @first_day.next_month }), class: "btn btn-sm btn-primary" %>
        </th>
        <th>
          指定勤務開始時間:　<%= basic_info_time(@user.designated_start_time) %>
          <br>
          指定勤務終了時間:　<%= basic_info_time(@user.designated_finish_time) %>
        </th>
        <th colspan="3">基本時間:　<%= basic_info_time(@user.basic_time) %> H</th>
        <th>初日:　<%= @first_day %></th> 
      </tr>
      <tr>
        <th>所属:　<%= @user.department %></th>
        <th>氏名:　<%= @user.name %></th>
        <th>コード</th>
        <th> <%= @user.employee_number %> </th>
        <th>出勤日数:　<%= @attendances_count %> 日</th>
        <th>締め:　<%= @last_day %></th>
      </tr>
    </thead>
  </table> 
  <!--上長ユーザーボタン類  -->
  <% if current_user.superior? %>
    <p style="margin-bottom: 5px; color: gray;">【所属長承認申請のお知らせ】</p>
    <p style="margin-bottom: 5px; color: gray;">【勤怠変更申請のお知らせ】</p>
    <p style="margin-bottom: 5px; color: gray;">【残業申請のお知らせ】
    <!-- 残業申請あるなら -->
      <% if @application.count > 0 %>
      <%= link_to @overtime_appli, form_overtime_path, style: "color:red; border: solid 2px red; padding: 2px 5px;", remote: true %>
      <% end %>
    </p>
  <% end %>
  <!-- 一般ユーザー共通ボタン類 -->  
  <%= link_to "勤怠を編集", edit_attendance_path(params:{id: @user.id, first_day: @first_day}), class: "btn btn-sm btn-primary" %>
  <%= link_to "CSV出力", edit_attendance_path(params:{id: @user.id, first_day: @first_day}), class: "btn btn-sm btn-primary" %>
  <%= link_to "勤怠修正ログ（承認済み）", edit_attendance_path(params:{id: @user.id, first_day: @first_day}), class: "btn btn-sm btn-primary" %>
  <div id="overtime-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
  <!-- 最初の一行目    -->
  <table class="table table-bordered table-striped table-condensed users_show-table">
    <thead>
      <tr>
        <!--rowspan:縦結合、colspan：横結合-->
        <th rowspan="3">残業申請</th>
        <th rowspan="3">日付</th>
        <th rowspan="3">曜日</th>
        <th colspan="8">【実績】</th>
        <th colspan="5">所定外勤務</th>
      </tr>
      <tr>
        <th rowspan="1" colspan="3">出社</th>
        <th rowspan="1" colspan="3">退社</th>
        <th rowspan="2">在社時間</th>
        <th rowspan="2">備考</th>
        <th colspan="2">終了予定時間</th>
        <th rowspan="2">時間外時間</th>
        <th rowspan="2">業務処理内容</th>
        <th rowspan="2">支持者確認㊞</th>
      </tr>
      <tr>
        <th>時</th>
        <th>分</th>
        <th></th>
        <th>時</th>
        <th>分</th>
        <th></th>
        <th>時</th>
        <th>分</th>
      </tr>
    </thead>
    <tbody>
    <!-- レコード表示部分 each文 -->
    <!--# 在社時間の集計、ついでに出勤日数も-->
    <% @days.each do |d| %>
      <tr>
        <!--０項：残業申請ボタン-->
        <td><%= link_to "残業申請", form_overtime_path(params:{id: @user.id, a_id: d }), class: "btn btn-sm btn-primary", remote: true %></td>
        <!--１項：日付-->
        <td><%= d.attendance_day.to_s(:day) %></td>
        <!--２項：曜日-->
        <td><%= @week[d.attendance_day.wday] %></td>
        <!--３〜４項：出社時間表示（データが存在する場合）-->
        <td><%= d.started_time.to_s(:hour) if d.started_time.present? %></td>
        <td><%= d.started_time.to_s(:minute) if d.started_time.present? %></td>
        <!--５項：出社ボタン表示（当日かつ出社時間が存在しない場合）-->
        <td>
          <% if d.attendance_day == Date.current && d.started_time.nil? %>
            <%= button_to "出社",startedtime_create_path(@user,params:{id: @user.id}),{class: "btn btn-attendance btn-default"}%>
          <% end %>
        </td>
        <!--６〜７項：退社時間表示（データが存在する場合）-->
        <td><%= d.finished_time.to_s(:hour) if d.finished_time.present? %></td>
        <td><%= d.finished_time.to_s(:minute) if d.finished_time.present? %></td>
        <!--８項：退社ボタン表示（当日かつ出社時間あり、かつ退社時間なし）-->
        <td>
          <% if d.attendance_day == Date.current && d.started_time.present? && d.finished_time.nil? %>
            <%= button_to "退社",finishedtime_creat_path(@user,params:{id: @user.id}), class: "btn btn-attendance btn-default"%>
          <% end %>
          <div id="overtime_modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
        </td>
        <!--９項：在社時間表示（出社時間と退社時間がどちらもある）-->
        <td>
          <%= working_hours(d.started_time,d.finished_time) if d.started_time.present? && d.finished_time.present? %>
        </td>
        <!--10項：備考-->
        <td><%= d.detail %></td>
        <!--11項：終了予定時間(時)-->
        <td><%= d.expected_finish_time.to_s(:hour) if d.expected_finish_time.present? %></td>
        <!--12項：終了予定時間(分)-->
        <td><%= d.expected_finish_time.to_s(:minute) if d.expected_finish_time.present? %></td>
        <!--12項：時間外時間-->
        <td><%  %></td>
        <!--13項：業務処理内容-->
        <td><%= d.reason.to_s if d.reason.present? %></td>
        <!--14項：指示者確認印-->
        <td><%= User.find(d.superior_id).name+" に残業申請中" if d.superior_id.present? %> </td>
      </tr>
      <% end %>
      <!-- 最後の一行 -->      
      <tr>
        <td></td>
    　　　<!-- 総合勤務時間の表示  --> 
        <td rowspan="1" colspan="2">総合勤務時間:　<%= basic_info_time(@user.basic_time).to_d * @attendances_count if @user.basic_time.present? %></td>
        <td colspan="6"></td>
        <td>在社時間の合計  <%= ((@total_time.to_d/ 60)/ 60).truncate(2) if @total_time.present? %></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </tbody>
  </table>
</div>