<h1>拠点一覧</h1>

<table class="table table-bordered table-striped table-condensed users_show-table">
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th>拠点番号</th>
      <th>拠点名</th>
      <th>勤怠種類</th>
    </tr>
  </thead>
  <tbody>
    <% @bases.each do |b| %>
    <tr>
      <td><%= link_to "ログイン", login_path, class: "btn btn-lg btn-primary" %></td>
      <td><%= link_to "ログイン", login_path, class: "btn btn-lg btn-primary" %></td>
      <td><%= b.base_number %></td>
      <td><%= b.base_name %></td>
      <td><%= b.type %></td>
    </tr>
    <% end %>
  </tbody>
</table>
<div class="center jumbotron">
    <%= link_to "ログイン", login_path, class: "btn btn-lg btn-primary" %>
</div>