<div class="modal-dialog">
  <div class="modal-content" style="padding: 30px;">
    <h3 style="text-align:center;">【残業申請確認】</h3>
    <% @appli_users_uniq.each do |user| %>
      <h5 style="text-align:center; padding-top: 30px;"><%= user.name %> からの残業申請</h5>
      <%= form_with( model: @user, url: res_overtime_path(@user), local: true) do |f| %>
        <table class="table table-bordered table-striped table-condensed users_show-table">
          <thead>
            <tr>
              <th>日付</th>
              <th>曜日</th>
              <th>終了予定時間</th>
              <th>指定勤務時間</th>
              <th>時間外時間</th>
              <th>業務処理内容</th>
              <th>指示者確認印</th>
              <th>変更</th>
              <th>勤怠を確認する</th>
            </tr>
          </thead>
          <tbody>
          <!--  -->
            <% user.attendances.where_status(1).where_superior_id(@user.id).each do |appli| %>
            <%#= f.hidden_field :user_id, :value => @user.id %>
            <%# @day.each do |d| %>
              <%= fields_for "attendances[]", appli do |f_appli| %>
              <tr>
            <%#= af.hidden_field :id, :value => @day.ids[0] %>
                <%#= hidden_field_tag :date, d.attendance_day %>
                <td><%= appli.attendance_day.to_s(:day) %></td>
                <td><%= WEEK[appli.attendance_day.wday] %></td>
                <td><%= appli.expected_finish_time.strftime("%R") %></td>
                <td><%= user.designated_finish_time.strftime("%R") %></td>
                <td><%= calculate_overtime(appli.expected_finish_time.strftime("%d %T"), user.designated_finish_time.strftime("#{appli.attendance_day.to_s(:day)} %R")) %></td>
                <td><%= appli.reason %></td>
                <td><%= f_appli.select( :status, STATUS, {class: 'form-control'} ) %></td>
                <td><%= check_box_tag :modified, class: 'form-control' %></td>
                <td><%#= appli.collection_select( :superior_id, @superiors, :id, :name, {class: 'form-control'}) %></td>
                <%#= appli.hidden_field :status, :value => 0, class:'form-control' %>
              </tr>
              <% end %>
            <% end %>
          </tbody>
        </table>
        <%= f.submit '変更を送信する', class: 'btn btn-attendance btn-default' %>
      <% end %>
    <% end %>
    
  </div>
</div>