<div class="modal-dialog" style="width: 1100px;">
  <div class="modal-content" style="padding: 30px;">
    <h3 style="text-align:center;">【勤怠変更申請確認】</h3>
    <%= form_with( url: res_modified_path(params:{id: @user}), method: :patch, local: true) do |f| %>
    <% @appli_users_uniq.each do |user| %>
      <h5 style="text-align:center; padding-top: 30px;"><%= user.name %> からの勤怠変更申請</h5>
        <table class="table table-bordered table-striped table-condensed users_show-table">
          <thead>
            <tr>
              <th rowspan="3">日付</th>
              <th rowspan="3">曜日</th>
              <th colspan="4">変更前</th>
              <th colspan="4">変更後</th>
              <th rowspan="3">備考</th>
              <th rowspan="3">指示者確認印</th>
              <th rowspan="3">変更</th>
              <th rowspan="3">勤怠を確認する</th>
            </tr>
            <tr>
              <th colspan="2">出社</th>
              <th colspan="2">退社</th>
              <th colspan="2">出社</th>
              <th colspan="2">退社</th>
            </tr>
            <tr>
              <th>時</th>
              <th>分</th>
              <th>時</th>
              <th>分</th>
              <th>時</th>
              <th>分</th>
              <th>時</th>
              <th>分</th>
            </tr>
          </thead>
          <tbody>
            <% user.attendances.where_status_modified(1).where_superior_id_modified(@user.id).each do |appli| %>
              <%= fields_for "attendances[]", appli do |f_appli| %>
              <tr>
                <td><%= appli.attendance_day.to_s(:day) %></td>
                <td><%= WEEK[appli.attendance_day.wday] %></td>
                
                <td><%= appli.started_time&.strftime("%H") %></td>
                <td><%= appli.started_time&.strftime("%M") %></td>
                <td><%= appli.finished_time&.strftime("%H") %></td>
                <td><%= appli.finished_time&.strftime("%M") %></td>
                <td><%= appli.modified_started_time.strftime("%H") %></td>
                <td><%= appli.modified_started_time.strftime("%M") %></td>
                <td><%= appli.modified_finished_time.strftime("%H") %></td>
                <td><%= appli.modified_finished_time.strftime("%M") %></td>
                <td><%= appli.detail %></td>
                <td><%= f_appli.select( :status_modified, STATUS, {class: 'form-control'} ) %></td>
                <td><%= f_appli.check_box(:modified, { style:"width: 14px; height: 14px;"}, checked_value = 1, unchecked_value = 0) %></td>
                <td><%= link_to "確認", user_path(id: user.id, first_day: appli.attendance_day.beginning_of_month), class: "btn btn-sm btn-primary", :target=>["_blank"] %></td>
              </tr>
              <% end %><!-- fields_for.f_appli -->
            <% end %><!-- appli.each --> 
          </tbody>
        </table>
      <% end %>
      <%= f.submit '変更を送信する', class: 'btn btn-attendance btn-primary' %>
    <% end %>
    
  </div>
</div>