<div class="modal-dialog">
  <div class="modal-content" style="padding:20px 0 30px;">
    <h3 style="text-align:center;">【残業申請】</h3>
    <p><%= @user.name %></p>
    <%= form_with( model: @user, url: overtime_submit_path, local: true) do |f| %>
    <table class="table table-bordered table-striped table-condensed users_show-table">
      <thead>
        <tr>
          <th>日付</th>
          <th>曜日</th>
          <th>終了予定時間</th>
          <th>翌日</th>
          <th>業務処理内容</th>
          <th>指示者確認印</th>
        </tr>
      </thead>
      <tbody>
        <%= f.hidden_field :user_id, :value => @user.id %>
        <% @day.each do |d| %>
          <%= f.fields_for "attendances[]", d do |af| %>
          <tr>
            <%#= af.hidden_field :a_id, :value => @day %>
            <%= hidden_field_tag :date, d.attendance_day.to_s(:day) %>
            <td><%= d.attendance_day.to_s(:day) %></td>
            <td><%= @week[d.attendance_day.wday] %></td>
          <!-- 入力項目 -->
            <td><%= af.time_field :expected_finish_time, class: 'form-control' %></td>
            <td><%= af.check_box :tomorrow, :as => :boolean, class: 'form-control' %></td>
            <td><%= af.text_field :reason, class: 'form-control' %></td>
            <td><%= af.collection_select( :superior_id, @superiors, :id, :name, {class: 'form-control'}) %></td>
            <%= af.hidden_field :status, :value => 1, class:'form-control' %>
          </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
    <%= f.submit '変更を送信する', class: 'btn btn-attendance btn-default' %>
    <% end %>
  </div>
</div>